<main class="main-content">
  <table>
    <thead>
      <tr>
        <th>Photo</th>
        <th>Information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag gravatar_url(@user.email, 64), alt: "" %> </td>
        <td> <% if @user.name? %><%= @user.name %><br><% end %> <%= @user.email %><br> <% if @user.birghtday? %> <%=time_ago_in_words( @user.birghtday) %><br><%= (Date.today.year - current_user.birghtday.year) %><% end %>
        </td>
      </tr>
    </tbody>
  </table>
 
  <% if @user.reservations.active.any? %>
    <h3>reservations:</h3>
    <table>
      <thead>
        <tr>
          <th>status</th>
          <th>title</th>
          <th>expires</th>
        </tr>
      </thead>
      <tbody>
        <% @user.reservations.active.each do |reservation| %>
          <tr>
            <td class='book-status book-status--<%= reservation.status.underscore %>'><%= reservation.status %></td>
            <td><%= link_to reservation.book.title, book_path(reservation.book) %></td>
            <td><%= reservation.expires_in %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    user does not have reservations
  <% end %>

  <% if @user.reservations.completed.any? %>
    <h3>completed:</h3>
    <table>
      <thead>
        <tr>
          <th>title</th>
        </tr>
      </thead>
      <tbody>
        <% @user.reservations.completed.each do |reservation| %>
          <tr>
            <td><%= link_to reservation.book.title, book_path(reservation.book) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</main>
