<div class="basic-form">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn" %>
    </div>
  <% end %>
  <%= link_to image_tag('btn_google_signin_dark_normal_web.png',onMouseover: 'this.src="/assets/btn_google_signin_light_normal_web.png"', onMouseout: 'this.src="/assets/btn_google_signin_light_disabled_web.png"'), user_google_oauth2_omniauth_authorize_path, {class: 'dock-item'} %><br />




  <%= render "devise/shared/links" %>
</div>
